/*index pagina medewerker en admin*/
.container{
    width: 55%;
}
ul{
   list-style-type: none;
   margin-top: 10%; 
   

}
ul li{
    padding: 10px;
}

.btn-block{
    font-weight: bold;
    height:200px !important;
    font-size:1.6rem;
    
    
}
@media only screen and (max-width: 750px) {
    .btn-block{
        font-size:1.2rem;
       
    }
}
ul li .btn-block:hover{
    background-color:#2F4F4F;
    
}
/*sign up form*/


 .sub-container{
    margin-top:10%;
    width:40%;
    background-color:darkslategrey;
    height:auto;

    

}
h1{
    font-size:1.7rem;
    color:white;
    text-align: center;
    font-weight: bold;
    margin-bottom:20px;
}
label{
    color:white;
    font-weight: bold;
    
}
input[type="submit"]{
   
    
    height:auto;
   width:100%;
    font-size:1.2rem;
    margin-top:10px;
    margin-bottom:10px;
}
/*login pagina form*/

.sub-container-login{
    margin-top:10%;
    
    width:35%;
    background-color: darkslategrey;

    height:auto;
}

/*dashboard*/
.wrapper{
    display:flex;
   
}
/*navbar medewerker*/


/*reservering form*/
    /* <?php

$pdo = new Db();
$pdo = $pdo->connect();

$query="SELECT * FROM klant INNER JOIN 
reservering ON klant.klantid = reservering.klantid  ORDER BY reservering.reserveringdatum DESC";

$query_run = $pdo->query($query);
?>
      
       <div class="row">
         <div class="col-md-12">
         
         <table class='table table-hover bg-light table table-striped mt-3' id="rOverzicht">
        <thead class='bg-info text-light'>
          <tr>
            <td>ID</td>
            <td>Voornaam</td>
            <td>Achternaam</td>
            <td>Reserveringnr</td>
            <td>Reservering datum</td>
            <td>Aankomstdatum</td>
            <td>Vertrekdatum</td>
            <td> Wijzigen</td>
            <td>Annuleren</td>
          </tr>
        </thead>
        <tbody>
      






<?php  while($row=$query_run->fetch(PDO::FETCH_OBJ)){?>
    <tr class="text-success font-weight-bold">
    <td><?=$row->klantid?></td>
    <td><?= $row->voornaam?></td>
     <td><?=$row->achternaam?></td>
    <td><?=$row->reserveringnr?></td>
    <td><?=$row->reserveringdatum?></td>
    <td><?=$row->aankomstdatum?></td>
     <td><?=$row->vertrekdatum?></td></tr>
<?php
}
?>










</tbody>
</table>*/